.ant-btn-none{
  display: none;
}

.login-form-button{
  float: right;
}

.login-form-button::after{
  clear: both;
}
.ant-modal{
  top:200px;
}
.ant-confirm-body-wrapper{
  height: 330px;
}
.ant-confirm-body .ant-confirm-content{
  margin: 20px auto 0 0;
}